<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:decorate="~{layout/layout}">
<head>
<title>ToDo!! | ユーザー登録解除</title>
</head>
<body th:with="authUserId=${#authentication.principal.username}">
  <section layout:fragment="content">
    <div class="container mb-5 contents_top">
      <h4 class="p-2" style="background-color: #b0c4de;">
	      <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-person-x-fill mb-1 mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
	        <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
	      </svg>ユーザー登録解除
      </h4>
      <div class="mx-lg-4 mx-2">
	      <p>以下のユーザーの登録を解除します。<br>
	      よろしければ、確認のためにパスワードを入力して「登録解除確定」ボタンを押してください<br>
	      <span class="text-danger">※登録解除をすると、同時に登録したToDoもすべて削除されます。<br>
	      復元はいたしかねますので、ご理解の上で登録解除をお願いいたします。</span></p>
	      <h5>ユーザーID : <span th:text="${authUserId}">ユーザーID</span></h5>
	      <form action="#" th:action="@{/exclude}" th:object="${userForm}" method="POST">
	        <div class="form-group">
	           <label for="password">パスワード</label>
	           <div class="row">
	             <div class="col-9 col-sm-7 col-lg-4">
	               <input type="text"  class="form-control" name="password" id="password" th:value="*{password}">
	             </div>
             </div>
		        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
	        </div>
				  <div th:if="${not #strings.isEmpty(error)}"><span th:text="${error}" class="text-danger"></span></div>
				   <!-- ログイン済みのユーザーIDをhiddenで送信 -->
				  <input type="hidden" th:name="userId"  th:value="${authUserId}"><br>
				  <input type="submit" class="btn btn-primary" value="登録解除確定">
				</form>
			</div>
    </div>
  </section>
</body>
</html>