<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--*  Bootstrap CSS *-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!--* レイアウト用のCSS *-->
<link th:href="@{/css/layout.css}" rel="stylesheet" type="text/css">

<!--* jQuery, Bootstrap JS *-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>

<!-- * レイアウト用のJS -->
<script src="/js/layout.js"></script>
<title>レイアウトタイトル</title>
</head>
<body>
<header>
  <!--* ナビバー *-->
  <nav class="navbar navbar-expand-md navbar-light" style="background-color: #b0c4de;">
    <a class="navbar-brand ml-2 ml-lg-4" href="#" th:href="@{/}"><em class="h3">ToDo!!</em></a>
    <button class="navbar-toggler mr-3" type="button" data-toggle="collapse"
      data-target="#Navbar" aria-controls="Navbar" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Navbar">
      <!--* 共通の表示メニュー *-->
      <div class="ml-auto mr-5">
       <ul class="navbar-nav">
         <li class="nav-item">
           <a class="nav-link text-body" href="#" th:href="@{/todoList}">
             <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-calendar-week mb-1 mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
               <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
             </svg>ToDo一覧
           </a>
         </li>
         <li class="nav-item">
           <a class="nav-link text-body" href="#" th:href="@{/addTodo}">
             <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-calendar-plus mb-1 mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                <path fill-rule="evenodd" d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
             </svg>ToDoの追加
           </a>
         </li>
       </ul>
      </div>
      <!--* 非ログイン状態の表示メニュー *-->
      <div class="mr-5">
      <div sec:authorize="isAnonymous()">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-body" href="#" th:href="@{/loginForm}">
              <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-right mb-1 mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                 <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                 <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
              </svg>ログイン
            </a>
          </li>
         </ul>
       </div>
        <!--* ログイン状態の表示メニュー *-->
       <div sec:authorize="isAuthenticated()">
         <ul class="navbar-nav">
          <li class="nav-item">
            <form  class="form-inline" action="#" th:action="@{/logout}" name="logoutNavibar" method="POST">
              <a class="nav-link text-body" href="javascript:logoutNavibar.submit()">
                <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-box-arrow-left mb-1 mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                  <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                </svg>ログアウト
              </a>
            </form>
          </li>
         </ul>
       </div>
       </div>
     </div> 
  </nav>
</header>

<section layout:fragment="content">
<!--* 固有ページで定義する箇所 *-->
</section>

<!--* ボトムメニュー(画面サイズmd未満のみ表示. 画面下部に追従) -->
<div class="fixed-bottom d-md-none" id="bottom_menu">
  <ul class="list-group list-group-horizontal">
	  <li class="list-group-item list-group-item-primary flex-fill text-body" style="text-align: center;">
	   <a class="text-body" href="#" th:href="@{/}">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
          <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
        </svg><br>
        <span class="small">ホーム</span>
      </a>
	  </li>
	  <li class="list-group-item list-group-item-primary flex-fill text-body" style="text-align: center;">
	   <a class="text-body" href="#" th:href="@{/todoList}">
        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-calendar-week" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
          <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
        </svg><br>
       <span class="small">一覧</span>
      </a>
	  </li>
	  <li class="list-group-item list-group-item-primary flex-fill text-body" style="text-align: center;">
	    <a class="text-body" href="#" th:href="@{/addTodo}">
        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-calendar-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
           <path fill-rule="evenodd" d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
        </svg><br>
     <span class="small">追加</span>
      </a>
	  </li>
    <li class="list-group-item list-group-item-primary flex-fill text-body" sec:authorize="isAnonymous()" style="text-align: center;">
      <a class="text-body" href="#" th:href="@{/loginForm}">
        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
          <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
       </svg><br>
       <span class="small">ログイン</span>
      </a>
    </li>
    <li class="list-group-item list-group-item-primary flex-fill text-body" sec:authorize="isAuthenticated()" style="text-align: center;">
      <form action="#" th:action="@{/logout}" name="logoutBottomMenu" method="POST">
        <a class="text-body" href="javascript:logoutBottomMenu.submit()">
          <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-box-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
          </svg>
        </a>
      </form>
      <span class="small">ログアウト</span>
    </li>
	</ul>
</div>

<!--* フッターメニュー(サイトメニュー) *-->
<footer class="footer mt-auto bg-secondary">
  <div class="container">
    <div class="h5 mt-3 mb-4 ml-sm-3 ml-2"><strong class="text-white">サイトメニュー</strong></div>
    <div class="row justify-content-around">
      <!-- インフォメーションメニュー -->
      <div class="col-6 col-sm-3">
        <div class="h6"><strong class="text-white">インフォメーション</strong></div>
        <ul class="list-unstyled mt-2 text-white" >
	        <li>- <a class="text-white" href="#" th:href="@{/#aboutThisSite}" >当サイトについて</a></li>
	        <li>- <a class="text-white" href="#" th:href="@{/#faq}">よくあるご質問</a></li>
	        <li>- <a class="text-white" href="#" th:href="@{/inquiry}">お問い合わせ</a></li>
        </ul>
      </div>
      <!-- ToDo管理メニュー -->
      <div class="col-5 col-sm-3">
        <div class="h6"><strong class="text-white">ToDo管理</strong></div>
        <ul class="list-unstyled mt-2 text-white" >
          <li>- <a class="text-white" href="#" th:href="@{todoList}">ToDo一覧</a></li>
          <li>- <a class="text-white" href="#" th:href="@{/addTodo}">ToDoの追加</a></li>
        </ul>
      </div>
      <!-- ユーザー管理メニュー -->
      <div class="col-11 col-sm-3">
        <div class="h6"><strong class="text-white">ユーザー管理</strong></div>
        <!-- 非ログイン状態の表示 -->
        <div sec:authorize="isAnonymous()">
	        <ul class="list-unstyled mt-2 text-white" >
	          <li>- <a class="text-white" href="#" th:href="@{/loginForm}">ログイン</a></li>
	          <li>- <a class="text-white" href="#" th:href="@{/register}">ユーザー登録</a></li>
	        </ul>
        </div>
        <!-- ログイン状態の表示 -->
        <div sec:authorize="isAuthenticated()">
          <ul class="list-unstyled mt-2 text-white" >
            <li>
              <form  class="form-inline" action="#" th:action="@{/logout}" name="logoutFooter" method="POST">
                -&nbsp;<a class="text-white" href="javascript:logoutFooter.submit()">ログアウト</a>
              </form>
            </li>
            <!-- ユーザー登録解除は一般ユーザーのみ表示 -->
            <li sec:authorize="hasRole('USER')">- <a class="text-white" href="#" th:href="@{/exclude}">ユーザー登録解除</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr color="white">
  <div class="text-center mb-3 text-white">Copyright © 2021 taku-sda</div>
</footer>
</body>
</html>