@charset "UTF-8";

td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 115px;
}

.contents_top {
  padding-top:40px;
}

.contents {
	padding-top:70px;
}

.footer {
  margin-top:50px;
}

#page_top {
  position: fixed;
  bottom: 90px;
  right: 10px;
  font-size: 20px;
  line-height: 1;
  z-index: 99;
}
#page_top a {
  background: #72C7CA;
  text-decoration: none;
  color: #fff;
  width: 60px;
  padding: 28px 5px;
  text-align: center;
  display: block;
  border-radius: 90px;
  opacity: 0.9;
  transition: all .3s ease;
}
#page_top a:hover {
  text-decoration: none;
  opacity: .5;
}

.bottom_menu_btn {
	background-color: #b0c4de;;
	border: 1px solid;
	border-color: #808080;
	border-top: transparent;
	border-bottom: transparent;
}

#bottom_menu_btn_left {
	border-left: transparent;
}

#bottom_menu_btn_right {
  border-right: transparent;
}