@charset "UTF-8";

body { 
	padding-top: 100px;
	display: flex;
  flex-direction: column;
  min-height: 100vh;
}

td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 115px;
}